[submodule "xyplotter_esp32"]
	path = xyplotter_esp32
	url = git@github.com:IvanNekrasov/xyplotter_esp32.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2
